---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';
import siteConfig from '../../data/site-config';
import {
  getAllTags,
  getPostsByTag,
  sortItemsByDateDesc,
} from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
  return paginate(posts, { pageSize: siteConfig.postsPerPage || posts.length });
}

type Props = { page: Page<CollectionEntry<'blog'>> };

const { page } = Astro.props;
const blog = page.data;
const tags = getAllTags(blog).sort((tagA, tagB) => {
  const postCountTagA = getPostsByTag(blog, tagA.slug).length;
  const postCountTagB = getPostsByTag(blog, tagB.slug).length;
  return postCountTagB - postCountTagA;
});
const isActive = Astro.params.page === undefined;
---

<BaseLayout
  title="Blog"
  description="Embark on a journey of personal insights and experiences through my blog"
  image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
  showHeader={false}
>
  <div class="mb-12 flex flex-wrap gap-x-6 gap-y-2">
    <a
      class:list={[
        'flex items-center gap-2',
        {
          'underline decoration-stone-400 decoration-2 underline-offset-4':
            isActive,
        },
      ]}
      href="/blog"
    >
      <p class="font-serif text-sm font-medium leading-tight">
        전체 {blog.length}
      </p>
    </a>
    {
      tags.map((tag) => {
        const postCount = getPostsByTag(blog, tag.slug).length;
        return (
          <a class="flex items-center gap-2" href={`/blog/${tag.slug}`}>
            <p class="font-serif text-sm font-medium leading-tight hover:underline hover:decoration-stone-400 hover:decoration-2 hover:underline-offset-4 md:text-base">
              {tag.name} {postCount}
            </p>
          </a>
        );
      })
    }
  </div>
  {blog.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)}
</BaseLayout>
