---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import TitlePreview from '../../components/TitlePreview.astro';
import GiscusSection from '../../components/PostComments';

export async function getStaticPaths() {
  const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
  const postCount = posts.length;
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null,
    },
  }));
}

type Props = {
  post: CollectionEntry<'blog'>;
  prevPost: CollectionEntry<'blog'>;
  nextPost: CollectionEntry<'blog'>;
};

const { post, prevPost, nextPost } = Astro.props;
const { title, publishDate, excerpt, seo } = post.data;
const { Content } = await post.render();
---

<BaseLayout
  title={seo?.title ?? title}
  description={seo?.description ?? excerpt}
  image={seo?.image}
  pageType="article"
  showHeader={false}
>
  <article class="mb-10">
    <header class="mb-10">
      <h1 class="font-serif text-3xl font-medium leading-tight">{title}</h1>
      <h2 class="mt-1 text-sm leading-normal">{excerpt}</h2>
      <div class="mt-2 text-sm">
        <FormattedDate date={publishDate} />
      </div>
    </header>
    <div class="mdx prose prose-dante max-w-none">
      <Content />
    </div>
    <hr />
  </article>
  <div class="mb-5 flex justify-end gap-4">
    <a
      href="/"
      class="text-sm hover:underline hover:decoration-sky-200 hover:decoration-2 hover:underline-offset-4"
    >
      홈
    </a>
    <a
      href="/blog"
      class="text-sm hover:underline hover:decoration-sky-200 hover:decoration-2 hover:underline-offset-4"
    >
      목록
    </a>
  </div>
  {
    (prevPost || nextPost) && (
      <div class="mb-10 flex justify-between">
        {prevPost ? (
          <TitlePreview post={prevPost} class="items-start" direction="prev" />
        ) : (
          <div />
        )}
        {nextPost && (
          <TitlePreview post={nextPost} class="items-end" direction="next" />
        )}
      </div>
    )
  }
  <GiscusSection client:load />
</BaseLayout>
