---
import { type CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import TagList from './TagList.astro';

type Props = { post: CollectionEntry<'blog'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { post, class: className, headingLevel = 'h2' } = Astro.props;
const { title, publishDate, excerpt, tags } = post.data;
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/blog/${post.slug}/`}>
    <div class="grow">
        <div class="flex">
            <TitleTag
                class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-sky-200 sm:text-2xl"
            >
                {title}
            </TitleTag>
        </div>
        {excerpt && <div class="mt-1 text-sm leading-normal">{excerpt}</div>}
        <div class="flex gap-4 mt-3 text-sm leading-normal">
            <FormattedDate date={publishDate} />
            <TagList tags={tags} />
        </div>
    </div>
</a>
